{% extends 'tracker/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" >
   <div class="col-md-6" style="padding:10px 0px 10px 20px;background-color:#EAF2F8;margin:5px 0px 0px 250px;position:fixed;">
   <form method="POST">
     {% csrf_token %}
	 <fieldset class="form-group">
		 <legend class="border-bottom mb-4">Register!</legend>{{ form |crispy }}
     </fieldset>
	 <div class="form-group">
		 <button class="btn btn-outline-info" type=submit>Sign Up</button>
	 </div>
   </form>
   <div class="border-top pt-3">
	   <small class="text-muted">
		   Already Registered? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
	   </small>
   
</div>
</div>
{% endblock %}
   